* {
    font-size: 2em;
}

body {
    background-color: #2f3336;
    color: #778899;
    font-family: verdana;
    text-align: center;
}

td {
    padding: 15px;
    padding-bottom: 0px;
}

#ct_score {
    color: #3de354;
}

#t_score {
    color: #e3543d;
}
